:root {
  --faded-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --dark-gray-blue: hsl(237, 12%, 33%);
  --dark-blue: hsl(240, 6%, 50%);
  --light-gray-blue: hsl(240, 5%, 91%);
  --white-00: hsl(0, 0%, 100%);
  --ff-main: "Kumbh Sans", sans-serif;
  --fs-main: 0.75rem;
  --fw-400: 400;
  --fw-700: 700;
}

/*
    ### Primary Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)


    */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

body {
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 10px 10px 7px var(--dark-gray-blue);
  display: flex;
  flex-direction: column;
}

/* footer styles */
footer {
  margin-top: 20px;
}

.attribution {
  color: var(--white-00);
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(87, 100%, 49%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(340, 100%, 50%);
}

@media screen and (min-width: 400px) {
  .container {
    max-width: 60rem;
  }
}
/* -------------
   image styles
  ---------------*/
/* mobile image */
.card-mobile {
  position: relative;
  margin-bottom: 6.25rem;
}

.image-mobile {
  width: 15rem;
  position: absolute;
  top: -7.5rem;
  left: 3rem;
}

.bg-mobile {
  width: 15rem;
  position: absolute;
  top: -1rem;
  left: 3rem;
}

/* desktop image */
.card-desktop {
  width: 20rem;
  position: relative;
  display: none;
}

.box {
  width: 170px;
  position: absolute;
  top: 175px;
  left: -90px;
  z-index: 10;
}

.image-desktop {
  position: absolute;
  top: 30px;
  left: -60px;
}

.bg-desktop {
  position: absolute;
  width: 100%;
  margin-left: -2rem;
}

@media screen and (min-width: 400px) {
  .card-mobile {
    display: none;
  }
  .card-desktop {
    display: block;
  }
}
/* ----------------
    Accordian Styles
   ---------------- */
h1 {
  color: var(--dark-gray-blue);
  text-align: center;
}

.accordian {
  width: 350px;
  padding: 20px;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: 700;
  color: var(--dark-gray-blue);
}

/* to display correctly in iphone */
summary::-webkit-details-marker {
  display: none;
}

summary:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.accordian-image {
  width: 1rem;
  height: 1rem;
}

details p {
  color: var(--dark-blue);
}

details[open] .accordian-image {
  transform: rotate(180deg);
}

@media screen and (min-width: 400px) {
  .container {
    flex-direction: row;
  }
  .card-mobile {
    display: none;
  }
  .card {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */